.listItemIcon {
    color: #A4A6A6;
    margin-right: 20px;
    width: 25px;
    height: 25px;
    transition: 0.2s ease;
}

.listItemMainBox:hover>.listItemIcon,
.listItemMainBox:hover>.listItemTitle {
    color: white;
}