.musicProgressBar{
    flex: 0.9;
}

/* FIREFOX */
@-moz-keyframes text_scroll_animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);

    }
}

/* CHROME */
@-webkit-keyframes text_scroll_animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes text_scroll_animation {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}