#loginBtn {
    font-size: 1.5em;
    text-align: center;
    background: #1db954;
    color: rgb(49, 49, 49);
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#loginBtn:hover{
    color: black;
}