* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root{
  width: 100%;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: calc((1vw + 16px) / 2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100dvh;
}

#root{
  height: 100%;
  max-height: -webkit-fill-available;
}

.component_link{
  display: flex;
  text-decoration: none;
  color: black;
}

.component_link .row_center_center{
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hr_w80_h1_black40{
  background-color: #A4A6A6;
  width: 80%;
  height: 1px;
  margin: 5px auto;
}


/* FIREFOX */
@-moz-keyframes text_scroll_animation {
  from {
      -moz-transform: translateX(100%);
  }

  to {
      -moz-transform: translateX(-100%);
  }
}

/* CHROME */
@-webkit-keyframes text_scroll_animation {
  from {
      -webkit-transform: translateX(100%);
  }
  to {
      -webkit-transform: translateX(-100%);
  }
}

@keyframes text_scroll_animation {
  from {
      transform: translateX(100%);
  }

  to {
      transform: translateX(-100%);
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}