@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: calc((1vw + 16px) / 2);
  overflow: hidden;
}

.animate-scroll{
  @apply animate-[scroll_15s_linear_infinite]
}


/* FIREFOX */
@-moz-keyframes scroll {
  from {
      -moz-transform: translateX(100%);
  }

  to {
      -moz-transform: translateX(-100%);
  }
}

/* CHROME */
@-webkit-keyframes scroll {
  from {
      -webkit-transform: translateX(100%);
  }
  to {
      -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll {
  from {
      transform: translateX(100%);
  }

  to {
      transform: translateX(-100%);
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}